@model TripsandTravelSystem.Models.AgencyVM
@{
    ViewBag.Title = "EditByAdmin";
    Layout = "~/Views/SharedViews/DashboardLayout.cshtml";
}


<link href="~/Css/CenterButton.css" rel="stylesheet" />

<div style="max-width: 500px; margin: auto;" class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Edit Agency Information</h5>
            <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
        </div>
        <div class="card-block">
            <form class="form-material" action="/Agency/EditByAdmin" method="post" enctype="multipart/form-data">
                <input type="hidden" value="@Model.UserName" name="UserName" />
                <input type="hidden" value="@Model.AgencyId" name="AgencyId" />
                <div class="form-group form-default">
                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                    <span class="form-bar"></span>
                    <label class="float-label">Email (exa@gmail.com)</label>
                    @Html.ValidationMessageFor(a => a.Email, null, new { @class = "text-danger" })
                </div>
              <input type="hidden" value="@Model.Password" name="Password" />
                <input type="hidden" value="@Model.ConfirmPassword" name="ConfirmPassword" />

                <div class="form-group form-default">
                    <input type="file" class="form-control" name="Photo">
                    <span class="form-bar"></span>
                    <label class="float-label">Photo</label>

                </div>




                <input type="submit" value="Edit" class="btn btn-primary .centerb" />
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>




