@model TripsandTravelSystem.Models.AdminVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/SharedViews/DashboardLayout.cshtml";
}

<div style="max-width: 500px; margin: auto;" class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Create New Admin</h5>
            <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
        </div>
        <div class="card-block">
            <form class="form-material" action="/Admin/Create" method="post" enctype="multipart/form-data">
                <div class="form-group form-default">
                    @Html.TextBoxFor(a => a.UserName, new { @class = "form-control" })
                    
                    <span class="form-bar"></span>

                    <label class="float-label">UserName</label>


                    @Html.ValidationMessageFor(a => a.UserName, null, new { @class = "text-danger" })


                </div>
                <div class="form-group form-default">
                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                    <span class="form-bar"></span>
                    <label class="float-label">Email (exa@gmail.com)</label>
                    @Html.ValidationMessageFor(a => a.Email, null, new { @class = "text-danger" })
                </div>
                <div class="form-group form-default">
                   
                    @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                    <span class="form-bar"></span>
                    <label class="float-label">Password</label>
                    @Html.ValidationMessageFor(a => a.Password, null, new { @class = "text-danger" })
                </div>
                <div class="form-group form-default">
                    @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control" })
                    <span class="form-bar"></span>
                    <label class="float-label">Confirm Password</label>
                    @Html.ValidationMessageFor(a => a.ConfirmPassword, null, new { @class = "text-danger" })
                </div>
                <div class="form-group form-default">
                    @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control" })
                    <span class="form-bar"></span>
                    <label class="float-label">PhoneNumber</label>
                    @Html.ValidationMessageFor(a => a.PhoneNumber, null, new { @class = "text-danger" })
                </div>
                <div class="form-group form-default">
                    <input type="file" class="form-control" name="Photo">
                    <span class="form-bar"></span>
                    <label class="float-label">Photo</label>

                </div>




                <input type="submit" style="max-width: 500px;" value="Add" class="btn btn-secondary" />
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
